<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuestros Proyectos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="bg-gray-100">
<div class="text-center">
    <h2><a href="/"><img class="mx-auto w-20 h-16" th:src="@{imagenes/MWlogoNB.png}" alt="Logo MagicWater"></a></h2>
    <a href="/" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded">Volver al inicio</a>
</div>

<div class="text-center mt-4">
    <button th:if="${!(user==null) && user.getRol().equals('SUPERVISOR')}" onclick="location.href='/nuevo'" class="mx-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
        <i class="fas fa-plus-circle mr-2"></i>
        <span>Añadir proyecto</span>
    </button>
</div>
<h1 class="text-2xl font-bold text-center py-4">Listado de proyectos</h1>

<div class="flex flex-wrap justify-center">
    <div th:each="proy : ${proyectos}" class="max-w-sm rounded overflow-hidden shadow-lg m-4 transform hover:scale-105 transition duration-500">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${proy.getNombre()}"></div>
            <p class="text-gray-700 text-base" th:text="${proy.getDescripcion()}"></p>
        </div>
        <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" th:text="${proy.getZona()}"></span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" th:text="${proy.getFecha()}"></span>
        </div>
        <div class="px-6 py-4 flex justify-center" th:if="${!(user==null) && user.getRol().equals('SUPERVISOR')}">
            <a th:href="${'/eliminar?idProyecto='+proy.getIdproyecto()}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <i class="fas fa-trash-alt mr-2"></i>
                <span>Eliminar</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>